
@using EAgroServicesViews.Models.AccountModel;
@model IEnumerable<Account>;

@{
    ViewData["Title"] = "Account Page";
}
<h1> Accounts </h1>
<hr/>
<table class="table">
    <thead>
        <tr> 
            <th>@Html.DisplayNameFor(model => model.AccountId)</th>
            <th>@Html.DisplayNameFor(model => model.AccountNumber)</th>
            <th>@Html.DisplayNameFor(model => model.IfscCode)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelAccount => account.AccountId)</td>
                <td>@Html.DisplayFor(modelAccount => account.AccountNumber)</td>
                <td>@Html.DisplayFor(modelAccount=> account.IfscCode)</td>
               
            </tr>
        }
    </tbody>
</table>