@using EAgroServicesViews.Models.PurchaseModels;
@model PurchaseViewModel;
  @{
        ViewData["Title"] = "Show Page"; }
<h1>Update Item</h1>
<hr />
<form action="UpdateItem" method="post">
<table class="table">
  <tr>
    @* <th>@Html.DisplayNameFor(model => model.PurchaseItem.PurchaseId)</th> *@
    <td><input type="number" name="purchaseId" value="@Model.PurchaseItem.PurchaseId" hidden/></td> </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.FarmerName)</th>
        <td>
        <select name="farmerId" >
          <option value="@Model.PurchaseItem.FarmerId">@Model.FarmerName  </option>
          @foreach(var farmer in ViewBag.farmers) {
          <option value="@farmer.FarmerId">
            @farmer.FirstName @farmer.LastName
          </option>
          }
        </select>
      </td>
  </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.VarietyName)</th>
    <td>
        <select name="varietyId">
          <option value="@Model.PurchaseItem.VarietyId">@Model.VarietyName  </option>
          @foreach(var variety in ViewBag.varieties) {
          <option value="@variety.VarietyId">@variety.VarietyName</option>
          }
        </select>
      </td>
  </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.PurchaseItem.Grade)</th>
    <td>
        <select name="grade" >
          <option value="@Model.PurchaseItem.Grade">@Model.PurchaseItem.Grade  </option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
        </select>
      </td>
  </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.PurchaseItem.ContainerType)</th>
 <td>
        <select name="containerType">
          <option value="@Model.PurchaseItem.ContainerType">@Model.PurchaseItem.ContainerType  </option>
          <option value="bags">bags</option>
          <option value="leno_bags">leno_bags</option>
          <option value="crates">crates</option>
        </select>
      </td>  </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.PurchaseItem.Quantity)</th>
      <td><input type="number" name="quantity" value="@Model.PurchaseItem.Quantity" /></td>
  </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.PurchaseItem.TotalWeight)</th>
      <td><input type="number" name="totalWeight" value="@Model.PurchaseItem.TotalWeight" /></td>
  </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.PurchaseItem.TareWeight)</th>
      <td><input type="number" name="tareWeight" value="@Model.PurchaseItem.TareWeight" /></td>
  </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.PurchaseItem.NetWeight)</th>
    <td>@Html.DisplayFor(model => model.PurchaseItem.NetWeight)</td>
  </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.PurchaseItem.RatePerKg)</th>
          <td><input type="number" name="ratePerKg" value="@Model.PurchaseItem.RatePerKg" /></td>
  </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.PurchaseItem.Amount)</th>
    <td>@Html.DisplayFor(model => model.PurchaseItem.Amount)</td>
  </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.PurchaseBilling.LabourCharges)</th>
    <td>@Html.DisplayFor(model => model.PurchaseBilling.LabourCharges)</td>
  </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.PurchaseBilling.TotalAmount)</th>
    <td>@Html.DisplayFor(model => model.PurchaseBilling.TotalAmount)</td>
  </tr>
</table>
<button type="submit">Update</button>
</form>
